body{
    background: rgb(12,93,110);
    background: linear-gradient(90deg, rgba(12,93,110,1) 0%, rgba(12,74,87,1) 50%, rgba(12,93,110,1) 100%);
    font-family: 'Lucida Sans';
    color: aliceblue;
}

body {
	background: linear-gradient(-45deg, #1c3076, #116285, #116285, #1c3076);
	background-size: 400% 400%;
	animation: gradient 8.5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main{
    width: 730px;
    margin: 100px auto 70px;
    display: flex;
    align-items: center;
}

.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
}

.botones{
    height: 130px;
    width: 130px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    transition: .25s;
    background-color: rgba(209, 209, 209, 0.613);
    border-color: #0f4258;
}

.botones:hover{
    transform: scale(1.025);
}

button:hover{
    cursor: pointer;
}


.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 475px;
    padding: 0 40px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.1);
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    width: 245px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}



.reiniciar{
    text-align: center;
    height: 60px;
    width: 150px;
    margin-left: 50.5px;
    font-size: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 8px;
    font-weight: bold;
}

footer{
   text-align: center; 
}
a{
    text-decoration: none;
    color: rgb(153, 208, 255);
}

img{
    width: 80%;
}

.iconos{
    margin-right: 10px;
}

#icon1{
    width: 50px;
    height: 50px;
    transition: .5s;
    border-radius: 50%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
#icon1:hover{
    transform: scale(1.15);
}

#icon2{
    width: 50px;
    height: 50px;
    transition: .5s;
    border: 0px solid black;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}
#icon2:hover{
    transform: scale(1.15);
}
