/*::-webkit-scrollbar{
    display: none;
}

*{
    border: solid red;
}*/

body {
    background: linear-gradient(-45deg, rgb(55, 32, 98) 0%, rgba(12,68,102,1) 33%, rgba(55,32,98) 66%, rgba(12,68,102,1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Lucida Sans';
    color: aliceblue;
    cursor: url(media/mouse/default.png), auto;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


main{
    width: 800px;
    margin: 70px auto 75px;
    display: flex;
    align-items: center;
}

.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: -15px 5px 75px rgba(0, 0, 0, 0.25);
}

h1{
    text-align: center;
}

.botones{
    height: 130px;
    width: 130px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    transition: .25s;
    background-color: rgba(209, 209, 209, 0.613);
    border-color: #0f4258;
    cursor: url(media/mouse/click.png), auto;
}

.botones:hover{
    transform: scale(1.030);
}

button:hover{
    cursor: url(media/mouse/click.png), auto;
}


.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 475px;
    padding: 0 40px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.175);

}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    width: 245px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}



.reiniciar{
    text-align: center;
    height: 60px;
    width: 150px;
    margin-left: 50.5px;
    font-size: 25px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 8px;
    font-weight: bold;
}

footer{
   text-align: center; 
}
a{
    text-decoration: none;
    color: rgb(153, 208, 255);
}

footer p{
    font-size: large;
}

img{
    width: 80%;
}

.iconos{
    margin-right: 15px;
    cursor: url(media/mouse/click.png), auto;
}

#icon1{
    width: 50px;
    height: 50px;
    transition: .5s;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}
#icon1:hover{
    transform: scale(1.15);
}

#icon2{
    width: 47.5px;
    height: 47.5px;
    transition: .5s;
    border: 0px solid black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}
#icon2:hover{
    transform: scale(1.15);
}
